<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DDMM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="DDMM04.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <DDMM.Properties.Settings>
            <setting name="Screen1Left" serializeAs="String">
                <value/>
            </setting>
            <setting name="Screen1Right" serializeAs="String">
                <value/>
            </setting>
            <setting name="Screen1Top" serializeAs="String">
                <value/>
            </setting>
            <setting name="Screen1Bottom" serializeAs="String">
                <value/>
            </setting>
            <setting name="Screen2Left" serializeAs="String">
                <value/>
            </setting>
            <setting name="Screen2Right" serializeAs="String">
                <value/>
            </setting>
            <setting name="Screen2Top" serializeAs="String">
                <value/>
            </setting>
            <setting name="Screen2Bottom" serializeAs="String">
                <value/>
            </setting>
            <setting name="Screen3Left" serializeAs="String">
                <value/>
            </setting>
            <setting name="Screen3Right" serializeAs="String">
                <value/>
            </setting>
            <setting name="Screen3Top" serializeAs="String">
                <value/>
            </setting>
            <setting name="Screen3Bottom" serializeAs="String">
                <value/>
            </setting>
            <setting name="ActivateProgram" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartWithWindows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideTrayIcon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Method_CtrlKey" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Method_Delay" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Delay_UnClip" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="Window_Minimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseMouseJump" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoBounds" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UsePreview" serializeAs="String">
                <value>False</value>
            </setting>
        </DDMM.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/></startup></configuration>
